<div class="user-info">
  <mat-icon class="avatar">account_circle</mat-icon>
  <div>
    <div class="name">John Doe</div>
    <div class="role">Frontend Engineer</div>
  </div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <!-- <a mat-list-item routerLink="/mfe1">
    <mat-icon matListIcon>apps</mat-icon>
    <span>MFE 1</span>
  </a> -->

  <!-- <a mat-list-item routerLink="/mfe2">
    <mat-icon matListIcon>extension</mat-icon>
    <span>MFE 2</span>
  </a> -->

   <a mat-list-item routerLink="/notification">
    <mat-icon matListIcon>notifications</mat-icon>
    <span>Notification</span>
  </a>
</mat-nav-list>
